{{ define "main" }}
    <section class="flex grid grid-rows-1 space-y-10">
        <section class="flex space-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hash text-gray-500 dark:text-gray-50" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="5" y1="9" x2="19" y2="9"></line>
                <line x1="5" y1="15" x2="19" y2="15"></line>
                <line x1="11" y1="4" x2="7" y2="20"></line>
                <line x1="17" y1="4" x2="13" y2="20"></line>
            </svg>
            <h2 class="my-auto font-display tracking-widest text-[23px] md:text-[30px] font-semibold text-gray-500 dark:text-gray-50 my-auto">{{ .Page.Title }}</h2>
        </section>
        <section class="grid grid-rows-1 md:grid-cols-2 space-y-7 md:space-y-0">
            {{ range .Data.Pages }}
            <a href="{{ .Permalink }}" class="space-y-1">
                <p class="font-display text-sm text-semibold text-gray-400 dark:text-gray-50">{{ T ( .Date.Format "Monday") }}, {{ .Date.Day }} {{ T ( .Date.Format "Jan" ) }} {{ .Date.Year }}</p>
                <h2 {{ if site.Params.accentColor }}style="color: {{ site.Params.accentColor }};"{{ end }} class="text-nord7 font-title text-lg font-bold font-display">{{ .Title }}</h2>
                <section class="font-display text-normal md:text-xs text-bold text-gray-500 dark:text-gray-100 text-justify">{{ .Summary }}</section>
            </a>
            {{ end }}
        </section>
    </section>
{{ end }}