{{ define "main" }}
<section>
    <article>
	    <section class="prose prose-neutral max-w-md md:max-w-prose md:prose-lg lg:prose-xl prose-p:font-display prose-headings:font-title prose-p:text-nord3 dark:prose-p:text-nord6 dark:prose-invert prose-p:text-justify prose-pre:overflow-auto prose-pre:relative prose-pre:p-0 prose-pre:m-0 prose-li:text-nord3 dark:prose-li:text-nord6">
            {{ if (and (ne .Type "page") (.Params.series) ) }}
                {{ $ctg := replace .Params.series " " "-" | lower }}
                <p class="not-prose font-display text-sm text-semibold text-gray-300 dark:text-nord7 capitalize"><a href='{{ print site.BaseURL "series/" $ctg }}'>{{ .Params.series }}</a> &sdot; {{ if .Params.tags }}{{ delimit .Params.tags ", " }}{{ end }}</p>
            {{ end }}
            <h1 class="m-0">{{ .Title }}</h1>
            {{ if (ne .Type "page") }}
                <p class="not-prose font-display text-sm text-semibold text-gray-300 dark:text-nord7">{{ T ( .Date.Format "Monday") }}, {{ .Date.Day }} {{ T ( .Date.Format "Jan" ) }} {{ .Date.Year }} &sdot; <a href='{{ "about" | absURL }}' style="color: {{ site.Params.accentColor }};" class="not-prose">{{ with .Params.author }}{{ . }}{{ else }}{{ site.Params.author.name }}{{ end }}</a></p>
            {{ end }}
            {{ with .Params.image }}
            <section class="not-prose space-y-4 pt-5">
                <img class="h-[175px] rounded-md w-full object-cover" src="{{ .url }}"/>
                <div class="text-display text-sm md:text-normal italic text-center">{{ .desc }}</div>
            </section>
            {{ end }}
	        {{ .Content }}
	    </section>
    </article>
    {{ if .Params.code }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    {{ end }}
</section>
{{ end }}