{{ if .IsHome }}
<title>{{ site.Title }} | Page {{ .Paginator.PageNumber }}</title>
{{ else }}
<title>{{ site.Title }} - {{ .Title }}</title>
{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='{{ "css/fuyuki.css" | absURL }}'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ site.Params.hljs.version }}/styles/nord.min.css">
<script>
    function themeToggle() {
		const root = document.documentElement
		if (root.classList.contains('dark')) {
			localStorage.theme = 'light'
			root.classList.remove('dark')
			document.getElementById('icon-sun').classList.remove('hidden')
			document.getElementById('icon-moon').classList.add('hidden')
		} else {
			localStorage.theme = 'dark'
			root.classList.add('dark')
			document.getElementById('icon-moon').classList.remove('hidden')
			document.getElementById('icon-sun').classList.add('hidden')
		}
	}
	function loadTheme() {
		if (
			localStorage.theme === 'dark' ||
			(!('theme' in localStorage) &&
				window.matchMedia('(prefers-color-scheme: dark)').matches)
		) {
			document.documentElement.classList.add('dark')
			document.getElementById('icon-sun').classList.add('hidden')
			document.getElementById("icon-moon").classList.remove("hidden")
		} else {
			document.documentElement.classList.remove('dark')
			document.getElementById('icon-moon').classList.add('hidden')
			document.getElementById('icon-sun').classList.remove('hidden')
		}
	}
</script>