<section class="w-full">
    <section class="pb-5 flex">
            <section>
                <a class="flex space-x-5" href="{{ site.BaseURL }}">
                {{ with site.Params.brand.icon }}
                <section class="w-max">
                    <img class="h-10 rounded-md" src="{{ site.Params.brand.icon }}">
                </section>
                {{ end }}
                <section class="grid {{ with site.Params.description }}grid-row-2{{ end }} my-auto">
                    <div class="font-title text-normal font-extrabold text-gray-600 dark:text-gray-50 tracking-wide">{{ site.Title }}</div>
                    {{ with site.Params.brand.description }}<div class="font-display text-sm font-normal text-gray-500 dark:text-gray-100 tracking-wide">{{ site.Params.brand.description }}</div>{{ end }}
                </section>
                </a>
            </section>
            {{ with site.Params.useDarkModeToggler }}
            <section class="flex ml-auto bg-nord7 dark:bg-nord2 my-auto p-2 rounded-md">
	                <button aria-label="Dark mode toggler" onclick="themeToggle()" class="flex text-gray-100 dark:text-nord7">
			<svg
				id="icon-sun"
				xmlns="http://www.w3.org/2000/svg"
				class="icon icon-tabler icon-tabler-sun my-auto hidden"
				width="20"
				height="20"
				viewBox="0 0 24 24"
				stroke-width="2"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<circle cx="12" cy="12" r="4"></circle>
				<path
					d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
				></path>
			</svg>
			<svg
				id="icon-moon"
				xmlns="http://www.w3.org/2000/svg"
				class="icon icon-tabler icon-tabler-moon my-auto hidden"
				width="20"
				height="20"
				viewBox="0 0 24 24"
				stroke-width="2"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path
					d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
				></path>
			</svg>
		</button>
	</section>
    {{ end }}
    </section>
    <section class="flex text-gray-500 dark:text-gray-100">
        <section class="space-x-3">
        {{ range site.Menus.main }}
            <a class="font-display text-sm font-medium uppercase tracking-widest" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        </section>
        <section class="flex ml-auto my-auto space-x-3 justify-end">
        {{ range site.Menus.social }}
            <a class="font-display text-sm font-medium uppercase tracking-widest" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        </section>
    </section>
</section>