{{ define "main" }}
<section class="my-10">
    <section class="mb-8 block">
        <div class="font-display text-gray-600 dark:text-gray-100 font-medium text-sm my-auto text-justify">{{ .Site.Params.author.biot | safeHTML }}</div>
    </section>
    <section class="grid grid-rows-1 gap-y-10 md:space-y-0 md:grid-cols-2 md:gap-7">
        {{ range .Paginator.Pages }}
        {{ if (ne .Type "page") }}
            {{ if in site.Params.hiddenSection .Type }}
            {{ else }}
            <a href="{{ .Permalink }}" class="flex-row space-y-1">
                <p class="font-display text-sm text-semibold text-gray-400 dark:text-gray-50">{{ T ( .Date.Format "Monday") }}, {{ .Date.Day }} {{ T ( .Date.Format "Jan" ) }} {{ .Date.Year }}</p>
                {{ if site.Params.showTitleOnIndex }}<h2 style="color: {{ site.Params.accentColor }};" class="font-title text-lg font-bold font-display">{{ .Title }}</h2>{{ end }}
                <section class="font-display text-normal md:text-xs text-bold text-gray-500 dark:text-gray-100 text-justify">{{ .Summary }}</section>
            </a>
            {{ end }}
        {{ else }}
        {{ end }}
        {{ end }}
    </section>
        <section class="flex mt-10">
            {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL }}" class="flex mr-auto text-gray-600 font-display">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left my-auto pt-1 mr-1" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <desc>Download more icon variants from https://tabler-icons.io/i/chevron-left</desc>
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <polyline points="15 6 9 12 15 18"></polyline>
</svg>
                    Previous Pages
                </a>
            {{ end }}
            {{ if .Paginator.HasNext }}
                <a href="{{ .Paginator.Next.URL }}" class="flex ml-auto text-gray-600 font-display">
                    Next Pages
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right my-auto pt-1 ml-1" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <desc>Download more icon variants from https://tabler-icons.io/i/chevron-right</desc>
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <polyline points="9 6 15 12 9 18"></polyline>
</svg>
                </a>
            {{ end }}
        </section>
</section>
{{ end }}