{{ define "main" }}
    <section class="grid grid-rows-1 space-y-7 md:space-y-0 md:grid-cols-2 md:space-x-5">
        {{ range last 5 site.RegularPages }}
            <a href="{{ .Permalink }}" class="flex-row space-y-2">
                <p class="font-display text-sm text-semibold text-gray-400 dark:text-nord7">{{ .Date.Format "Monday, 02 Jan 2006" }}</p>
                <p class="font-display text-xs text-bold text-gray-500 dark:text-gray-100 text-justify">{{ .Summary }}</p>
            </a>
        {{ end }}
    </section>
{{ end }}
