<section class="h-min">
    <a {{ with .Get "link" }} href="{{.}}" {{ end }}>
        <img {{ with .Get "ph" }} style="height: {{.}}" {{ end }} class="object-cover w-full rounded-t-md pb-0 mb-0 md:mb-0" {{ with .Get "src" }} src="{{.}}" {{ end }} />
    </a>
    <section class="flex p-0 m-0 rounded-b-md bg-gray-50 dark:bg-nord1 text-gray-500 dark:text-gray-100 text-sm py-2 px-4">
        <section>
        {{ with .Get "caption" }}
            {{ . }}
        {{ end }}
        </section>
        <section class="my-auto ml-auto">
            <a target="_blank" title="Image source" {{ with .Get "link" }} href="{{ . }}" {{ end }}><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link text-nord7" width="15" height="15" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <desc>Download more icon variants from https://tabler-icons.io/i/external-link</desc>
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
                <line x1="10" y1="14" x2="20" y2="4"></line>
                <polyline points="15 4 20 4 20 9"></polyline>
            </svg></a>
        </section>
    </section>
</section>